**/node_modules/*

# any js file inside android and ios folders
**/android/**/*.js
**/apple/**/*.js

# Output of the build process & scripts
lib/**/*
scripts/**/*

babel.config.js
metro.config.js
react-native.config.js
jest.config.js
webpack.config.js
.eslintrc.js
