**/__tests__/*
**/out.js

# NODE MODULES / LIBS
**/node_modules/*
**/lib/*

# CONFIG FILES
.eslintrc.js
**/babel.config.js
**/webpack.config.js
**/jest.config.js
**/metro.config.js
**/react-native.config.js

