**/node_modules/*

# any js file inside android and ios folders
android/**/*.js
ios/**/*.js

# Ignore all files inside subproject folders 
example/**/*
WebExample/**/*
parser/**/*

# Output of the build process & scripts
lib/**/*
scripts/**/*

babel.config.js
.eslintrc.js
.prettierrc.js
