.react-native-live-markdown-input-singleline {
  white-space: nowrap;
  overflow: auto;
}

.react-native-live-markdown-input-singleline::-webkit-scrollbar {
  display: none;
}

.react-native-live-markdown-input-singleline br {
  display: none;
}

.react-native-live-markdown-input-singleline * {
  display: inline;
  white-space: nowrap;
}

.react-native-live-markdown-input-singleline:empty::before,
.react-native-live-markdown-input-multiline:empty::before {
  pointer-events: none;
  display: block; /* For Firefox */
  content: attr(placeholder);
}

@keyframes react-native-live-markdown-spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.react-native-live-markdown-input-multiline [contenteditable='false'] {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
