.react-native-live-markdown-input-multiline {
  white-space: pre-wrap;
}

.react-native-live-markdown-input-singleline p {
  display: inline-block;
}

.react-native-live-markdown-input-multiline p {
  display: block;
}

.react-native-live-markdown-input-singleline::-webkit-scrollbar {
  display: none;
}

.react-native-live-markdown-input-singleline br {
  display: none;
}

.react-native-live-markdown-input-singleline span[data-type='text'] {
  vertical-align: middle;
}

.react-native-live-markdown-input-singleline > p:last-child {
  padding-right: 1px !important;
}

.react-native-live-markdown-input-singleline:empty::before,
.react-native-live-markdown-input-multiline:empty::before {
  pointer-events: none;
  display: block; /* For Firefox */
  content: attr(placeholder);
}

.react-native-live-markdown-input-multiline *[data-type='pre']::before {
  margin: 0;
  display: block;
  color: transparent;
  border: 1px solid grey;
  content: attr(data-content);
  position: absolute;
  z-index: -1;
  left: 0;
  box-sizing: border-box;
}

.react-native-live-markdown-input-multiline *[data-type='pre'] {
  line-height: 1.3;
  display: 'inline-block';
  max-width: 100%;
}

.react-native-live-markdown-input-singleline *[data-type='code'] > *[data-type='emoji'],
.react-native-live-markdown-input-multiline *[data-type='code'] > *[data-type='emoji'] {
  font-size: inherit !important;
  line-height: inherit !important;
  vertical-align: unset !important;
}

.react-native-live-markdown-input-multiline *[data-type='line'] *[data-type='pre'] + *[data-type='syntax'] + *[data-type='text'] {
  max-width: 100%;
}

.react-native-live-markdown-input-multiline *[data-type='line'] *[data-type='syntax']:has(+ *[data-type='pre']) {
  display: grid;
  line-height: 1.3;
}

.react-native-live-markdown-input-multiline *[data-type='line'] *[data-type='syntax']:has(+ *[data-type='pre']) > *:last-child {
  display: none;
}

.react-native-live-markdown-input-multiline *[data-type='line'] *[data-type='pre'] + *[data-type='syntax'] {
  display: grid;
  line-height: 1.3;
}

@keyframes react-native-live-markdown-spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.react-native-live-markdown-input-multiline [contenteditable='false'] {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
