.react-native-live-markdown-input-singleline {
  white-space: nowrap;
  overflow: auto;
}

.react-native-live-markdown-input-singleline::-webkit-scrollbar {
  display: none;
}

.react-native-live-markdown-input-singleline br {
  display: none;
}

.react-native-live-markdown-input-singleline * {
  display: inline;
  white-space: nowrap;
}

.react-native-live-markdown-input-singleline:empty::before,
.react-native-live-markdown-input-multiline:empty::before {
  pointer-events: none;
  display: block; /* For Firefox */
  content: attr(placeholder);
}

*[data-type='pre'] + span[data-type='syntax'],
span[data-type='syntax']:has(+ span[data-type='pre']) {
  line-height: 1.6;
}
