.react-native-live-markdown-input-singleline {
  white-space: nowrap;
  overflow: auto;
}

.react-native-live-markdown-input-singleline::-webkit-scrollbar {
  display: none;
}

.react-native-live-markdown-input-singleline br {
  display: none;
}

.react-native-live-markdown-input-singleline * {
  display: inline;
  white-space: nowrap;
}

.react-native-live-markdown-input-singleline:empty::before,
.react-native-live-markdown-input-multiline:empty::before {
  pointer-events: none;
  display: block; /* For Firefox */
  content: attr(placeholder);
}

*[data-type='pre']::before {
  display: block;
  width: 100%;
  height: calc(100% - (23px * 2));
  background-color: lightgrey;
  border-radius: 4px;
  border: 1px solid grey;
  content: '';
  position: absolute;
  top: 23px;
  left: 0;
  z-index: -1;
  margin: 0;
}

*[data-type='line'] *[data-type='syntax']:has(+ *[data-type='pre']) {
  display: block;
  transform: translate(-5px, -5px);
}

*[data-type='line'] *[data-type='pre'] + *[data-type='syntax'] {
  display: inline-block;
  transform: translate(-5px, 5px);
}

*[data-type='line'] *[data-type='pre'] + *[data-type='syntax'] + *[data-type='text'] {
  display: inline-block;
  transform: translate(-5px, 5px);
}
